.itemContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 0;
}

.viewItemSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thumb {
  width: 50rem;
}

.infoSection {
  display: flex;
  flex-direction: column;
  height: 30rem;
  align-items: center;
  justify-content: space-between;
} 

.viewDescriptionSection {
}