main{
    

  

    .viewItemSection{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        h2{
            font-size: 30px;
            font-weight: 400;
            margin-top: 10vh;
        }
        h4{
            font-size: 30px;
            font-weight: 400;
            margin-top: 4vh;
        }
        

        .infoSection{

            margin-left: -10vw;
            button{
                height: 2rem;
                width: 8rem;
                border-style: none;
                background-color: #D25959;
                color: white;
                font-size: 1rem;
                
                margin-top: 30px;
                
               }
        
               button:hover{
               transition: 1s;
                background-color: #d86c6c;
               }
        
            }

         
    }

    .viewDescriptionSection{
                padding: 6vh 13vw 2vh 13vw;


                h3{
                    font-size: 23px;
                    font-weight: 450;
                    margin-bottom: 2vh;
                }
    }


}