.itemContainer {
  height: 355px;
  width: 625px;
  background: var(--gray);
  padding: 2rem;
}

.descriptionItem {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 2rem;

  >div {
    flex: 1;
    max-width: 12.5rem;

    strong {
      font-size: 1.8rem;
      font-weight: 500;
    }

    p {
      margin-top: 1rem;
    }
  }

  >img {
    height: 100%;
    width: 50%;
    border-radius: 6px;
  }
}
