.itemContainer {
  height: 355px;
  width: 625px;
  background: var(--gray);
  padding: 2rem;
}

.descriptionItem {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 2rem;

  >div {
    flex: 1;
    max-width: 12.5rem;

    strong {
      font-size: 1.8rem;
      font-weight: 500;
    }

    p {
      margin-top: 1rem;
    }
  }

  >img {
    height: 100%;
    width: 50%;
    border-radius: 6px;
  }
}

.itemClock {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -60px;

  >span {
    align-self: flex-start;
    position: absolute;
    left: 60px;
    top: -10px;
    
    padding: 0.3rem;
    font-size: 0.8rem;
    background: var(--red);
    color: var(--white);
  }

  >div {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    width: 20rem;

    background: var(--black);
    color: var(--white);
    
    >svg {
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 1rem;
    }

    >strong {
      font-size: 2rem;
      font-weight: 400;
    }
  }
}